/* global rules start */
/* Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* start variables */
:root {
    --main-color: #19c8fa;
    --hr-color: #a2a2a2;
    --transparent-color: rgba(21,100,120,0.8);
    --lite-gray-color: #777;
    --soft-blac-color: #333;
    --transition-duration: 0.3s;
    --sec-padding: 100px;
}
/* end variables */
* {
    /* reset the elements */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* add prefix for best performence */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* our font */
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 1200px; */
}

/* xs screen */
@media (max-width: 576px) {
    .container {
        width: 90%;
    }
}

/* s screen */
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 90%;
    }
}

/* m screen */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 730px;
    }
}

/* lg screen */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 980px;
    }
}

/* xl screen */
@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        width: 1200px;
    }
}

/* xxl screen */
@media (min-width: 1400px) {
    .container {
        width: 1300px;
    }
}

ul {
    list-style-type: none;
}

.reset-button {
    background-color: transparent;
    border: none;
    outline: none;
}
/* globar rules end */

/* reusable components start */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 100px;
    position: relative;

}
.main-heading h2::before {
    content: '';
    width: 130px;
    height: 2px;
    background-color: var(--soft-blac-color);
    position: absolute;
    bottom: -34px;
    left: 50%;
    transform: translateX(-50%);

}
.main-heading h2::after {
    content: '';
    width: 14px;
    height: 14px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    border: 2px solid var(--soft-blac-color);
    bottom: -34px;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 1;


}

.main-heading p {
    font-size: 16px;
    color: var(--lite-gray-color);
    line-height: 2;
    margin-bottom: 100px;
    max-width: 100%;
}

/* reusable components end */

/* header style start */
header {
    min-height: 98px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

header .container {
    min-height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::after {
    content: '';
    width: calc(100% - 2rem);
    height: 1px;
    background-color: var(--hr-color);
    position: absolute;
    bottom: 0;
    left: 1rem;
}

header .logo {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header nav ul li {
        width: 100%;
    }
    header nav ul li a {
        width: inherit;
        padding: 15px 10px !important;
    }
}
/* one button clicked overwrite the none */
header nav ul.small-screen-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
    header nav ul {
        display: flex;
    }
}

header nav ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    display: block;
    transition: var(--transition-duration);
    padding: 40px 10px;
    font-size: 14px;
    z-index: 2;
    border-bottom: 1px solid transparent;
}

header nav ul li a:hover,
header nav ul li a.active {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
}

header nav .form {
    width: 60px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 330px) {
    header nav .form {
        width: 40px;
        margin-left: 15px;
    }
}

header nav .form i {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

header button .toggle-menu {
    color: white;
    font-size: 20px;
}
@media (min-width: 768px) {
    header button {
        display: none;
    }
}
/* header style end */
/* landing style start */
.landing {
    height: 100vh;
    background-color: var(--soft-blac-color);
    background-image: url("../imgs/landing.jpg");
    object-fit: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: white;
    padding: 40px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        width: 100%;
    }
    .change-right,
    .change-left {
        display: none;
    }
    
}

.landing .text h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 20px;
}
.landing .text p {
    font-size: 14px;
    line-height: 2.0;
}

.landing button.change-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 1;
    color: white;
}

.landing button.change-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    z-index: 1;
    color: white;
}

.landing .bubbles {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 80px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.landing .bubbles .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: transparent;
}

.landing .bubbles .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.services {
    padding: var(--sec-padding) 0;
}

@media (min-width: 768px) {
    .services .container .services-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        column-gap: 40px;
        row-gap: 60px;
    }
    
}

.service {
    display: flex;
    margin-bottom: 40px;
}

.service i {
    margin-bottom: 30px;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        text-align: center;
    } 

    .service i {
        margin-bottom: 30px;
        margin-right: 0px;
    }
    
}

.service .service-txt {
    /* text-align: center; */
    max-width: 100%;
    
}
.service .service-txt h3 {
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 30px;
    
}
.service .service-txt p {
    color: var(--lite-gray-color);
    line-height: 1.6;
    font-size: 16px;
}
/* landing style end */
/* design style start */
.design {
    position: relative;
    overflow: hidden;
    height: 700px;


}

.design img.design-background {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.design::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* z-index: 1; */
}

.design img.mobile {
    position: absolute;
    bottom: -60px;
    left: 50px;
    z-index: 10;
}

.design .text-container {
    width: 55%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: white;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    padding: 60px;
}

.design .text-container .text {
    max-width: 400px;
}

.design .text-container .text h2 {
    margin-bottom: 60px;
    font-weight: normal;
    font-size: 28px;
}

.design .text-container .text ul li {
    margin-bottom: 30px;
    font-size: 20px;
    padding: 5px;
}

.design .text-container .text ul li::before {
    font-family: "Font Awesome 5 Free";
    /* icon unicode */
    content: "\e163"; 
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

@media (max-width: 767px) {
    .design .text-container {
        width: 100%;
    }

    .design img.mobile {
        display: none;
    }
    
    .design .text-container .text ul li {
        font-size: 16px;
    }
}
/* design style end */
/* portfolio style start */
.portfolio {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.portfolio ul.shuffle {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.portfolio ul.shuffle li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 10px;
}
.portfolio ul.shuffle a.active,
.portfolio ul.shuffle li a:hover {
    background-color: var(--main-color);
    color: white;
}

.portfolio .image-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .image-container .box {
    position: relative;
    overflow: hidden;
}

@media (max-width: 767px) {
    .portfolio .image-container .box {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .portfolio .image-container .box {
        width: 50%;
    }
}
@media (min-width: 1189px) {
    .portfolio .image-container .box {
        width: 25%;
    }
}

.portfolio .image-container .box img {
    position: relative;
    max-width: 100%;
    transition: var(--transition-duration);

}

.portfolio .image-container .box:hover img {
    transform: rotateZ(3deg) scale(1.1);
}
.portfolio .image-container .box .caption  {
    padding: 20px;
    width: 100%;
    position: absolute;
    background-origin: 0;
    z-index: 1;
    bottom: -100%;
    left: 0;
    background-color: white;
    transition: 0.6s;
    /* transition: var(--transition-duration); */
    transform: rotateZ(50deg);
}

.portfolio .image-container .box:hover .caption {
    bottom: 0;
    transform: rotateZ(0deg);

}

.portfolio .image-container .box .caption h4 {
    font-weight: normal;
}
.portfolio .image-container .box .caption p {
    color: var(--main-color);
}

.portfolio a.more {
   text-decoration: none;
   display: block;
   width: fit-content;
   text-align: center;
   padding: 15px 20px;
   text-transform: uppercase;
   color: white;
   background-color: var(--main-color);
   margin: 30px auto;
}

.hide-element {
    display: none;
}
/* portfolio style end */
/* video sec start */
.video {
    height: 450px;
    position: relative;
}

.video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
}

.video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
    background-color: var(--transparent-color);
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}

.video .text h2 {
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

.video .text p {
    margin-bottom: 30px;
    font-size: 20px;
    text-transform: capitalize;
}

.video .text button {
    text-transform: uppercase;
    background-color: black;
    padding: 13px 30px;
    color: white;
    border: none;
}
/* video sec end */
/* about sec start */
.about {
    padding-top: var(--sec-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    --img-offset: -120px;
    max-width: 100%;
    position: relative;
    bottom: var(--img-offset);
    margin-top: var(--img-offset);
}

@media (max-width: 767px) {
    .about img{
        --img-offset: -60px;
    }
}
/* about sec end */
/* statistics sec start */
.statistics {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    background-image: url('../imgs/stats.png');
    background-size: cover;
    position: relative;  
}

.statistics::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.statistics .container {
    position: relative;
}

.statistics .box-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--transparent-color);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.statistics .box-container .box {
    color: white;
    width: 25%;
    text-align: center;
    padding: 30px 0;
}

@media (max-width: 767px) {
    .statistics .box-container .box {
        width: 100%;
    }  
    .statistics .box-container .box:not(:last-child) {
        border-bottom: 1px solid var(--main-color);
      }        
}
@media (min-width: 768px) and (max-width: 991px) {
    .statistics .box-container .box {
        width: 50%;
    }
}

.statistics .box-container .box h1 {
    font-size: 60px;
}
.statistics .box-container .box p {
    text-transform: capitalize;
}
.statistics .box-container .box i {
    --box-dim: 45px;
    font-size: 18px;
    position: relative;
    background-color: black;
    width: var(--box-dim);
    height: var(--box-dim);
    line-height: var(--box-dim);
    text-align: center;
    border-radius: 50%;
}

.statistics .box-container .box i::after {
    /* content: ''; */
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: -1;
}
/* statistics sec end */
/* reviews sec start */
.reviews {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
}
.reviews .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews .testimonials {
    width: 50%;
    padding: 0 60px;
}
.reviews .skills {
    width: 50%;
    padding: 0 60px;
}
@media (max-width: 1199px) {
    .reviews .skills {
        width: 100%;
        padding: 0;
    } 
    .reviews .testimonials {
        width: 100%;
        padding: 0;
    } 
}
.reviews .text {
    text-align: center;
    margin-bottom: 50px;
}

.reviews .text h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
    font-size: 1.43em;
}

.reviews .text p {
    color: var(--lite-gray-color);
    line-height: 1.9;
    font-size: 19.4px;
}

.reviews .recommendation-container {
    display: flex;
    flex-wrap: wrap;
}

.reviews .recommendation-container .recommendation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .reviews .recommendation-container .recommendation {
        flex-direction: column;
        justify-content: center;
    }
    .reviews .recommendation-container .recommendation p {
        margin-left: 0;
    }
}

.reviews .recommendation-container .recommendation::before {
    content:  attr(signature);
    position: absolute;
    right: 0;
    bottom: 20px;
    color: var(--lite-gray-color);
    font-size: 18px;
}

.reviews .recommendation-container .recommendation img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .recommendation-container .recommendation p {
    border-bottom: 1px solid #d4d4d4;
    line-height: 1.9;
    font-size: 20px;
    margin-left: 60px;
    padding: 0 0 35px;
}

@media (max-width: 768px) {
    .reviews .recommendation-container .recommendation p {
        margin-left: 0;
    }
}

.reviews .bullets {
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: 30px auto 50px;
}

.reviews .bullets .cir {
    width: 20px;
    height: 20px;
    border-radius: 60%;
    border: 1px solid var(--hr-color);
}

.reviews .bullets .cir.active {
    background-color: var(--main-color);
}

.reviews .skill-container {
    display: flex;
    flex-direction: column;
}

.reviews .skill-container .skill {
    margin-bottom: 40px;
}

.reviews .skill-container .skill p {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
}

.reviews .skill-container .skill .background-bar {
    width: 100%;
    height: 30px;
    background-color: #dedadc;
}

.reviews .skill-container .skill .front-bar {
    width: 80%;
    height: 30px;
    background-color: var(--main-color);
    position: relative;
}

.reviews .skill-container .skill .front-bar::after {
    content: attr(percentage);
    position: absolute;
    right: 0;
    bottom: 45px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transform: translateX(50%);
    font-size: 20px;
}

.reviews .skill-container .skill .front-bar::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 25px;
    color: white;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    border-top-color: black;
    transform: translateX(50%);
}
/* reviews sec end */
/* quote sec start */
.quote {
    padding-top: var(--sec-padding);
    padding-bottom: var(--sec-padding);
    background-image:  url('../imgs/quote.jpg');
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

.quote::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.quote .container {
    position: relative;
    z-index: 1;
}

.quote .container h2 {
    font-weight: normal;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.quote .container p {
    font-size: 20px;
}
/* quote sec end */